<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="myBindingForBigArrays" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="myBindingForBigArrays" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
          <reliableSession enabled="true" />
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" maxBytesPerRead="4096" 
                        maxNameTableCharCount="16384"
                         />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="pharmacyDbConnectionLocal" connectionString="Server=;Database=;User ID=;Password=;" providerName="System.Data.SqlClient" />
    <add name="pharmacyDbConnection" connectionString="Server=efb59eb1-1265-4f3b-9a7e-a61e0120804e.sqlserver.sequelizer.com;Database=dbefb59eb112654f3b9a7ea61e0120804e;User ID=vneesmehnwjttqld;Password=AXKUSQEyMxM6idAMvW5jK2jYBKWFkJTXLsU34C5ibSEuYoiBARy6QrFHNUrg37od;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
